body {
  margin: 0;
  padding: 0;

  height: 100vh;
  width: 100vw;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: var(--jp-layout-color0);
  border-radius: 0;
}
::-webkit-scrollbar-thumb {
  background: var(--jp-layout-color3);
  border-radius: 2px;
}

.m-MochiShell {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#m-main-dock-panel {
  padding: 5px;
}

#m-top-panel {
  border-bottom: var(--jp-border-width) solid var(--jp-border-color0);
  background: var(--jp-layout-color1);
  display: flex;
  min-height: var(--jp-private-menubar-height);
}

#m-bottom-panel {
  background: var(--jp-layout-color1);
  display: flex;
}
